[submodule ".registry"]
	path = .registry
	url = https://github.com/ryanchrist/ryanchrist.r-universe.dev
	branch = HEAD
[submodule "QForm"]
	path = QForm
	url = https://github.com/ryanchrist/QForm
[submodule "renyi"]
	path = renyi
	url = https://github.com/ryanchrist/renyi
